/* BODY */
body {
  background-position: center;
  background-repeat: active ;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  height: : 100vh;
}

.body-principal{
  background-image: url(./img/imgRecetas.jpg);
}

.body-almuerzosycenas{
  background-image: url(./img/imgAlmuerzosyCenas.jpg);
}

.body-desayunoymerienda{
  background-image: url(./img/imgDesayunosyMeriendas.jpg);
}

.body-registrarse{
  background-image: url(./img/imgRecetas.jpg);
}

.body-login{
  background-image: url(./img/imgDulces.jpg);
}

/* SECCION CONTACTO DE acerca_de.html */
.bg-aside1 {
  background: #494f6392;
  padding: 2rem;
}
.pt-section {
  padding-top: 7rem;
  padding: 2 rem;
}
/* FORMULARIO DE REGISTRO */
.section-form{
  font-family:Arial, sans-serif;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container{
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px #0000001a;
  width: 100%;
  max-width: 400px;
  font-family: Arial, sans-serif;
}
.form-container h2{
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.form-group{
  margin-bottom: 15px;
}
.form-group label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.form-group input:focus{
  border-color: #007bff;
  outline: none;
}
.form-group button{
  width: 100%;
  padding: 10px;
  background-color: #15982b;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.form-group2 button{
  width: 100px;
  padding: 10px;
  background-color: #df1414;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.form-group button:hover{
}
.form-footer{
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
.form-footer a{
  color: #007bff;
  text-decoration: none;
}
.form-footer a:hover{
  text-decoration: underline;
}